<div>
    <button (click)="getContents(home)"> Home </button>

    <button (click)="getBackPath(back)"> Back </button>

    <button (click)="refersh()"> Refresh </button>

    <button (click)="getSpaceUsage()"> Get Space Usage </button>

    <div *ngFor="let item of space_usage_details">
        <p *ngIf="item.totalSpace">
            Total Space: {{item.totalSpace}}
        </p>
        <p *ngIf="item.usedSpace">
            Total Space: {{item.usedSpace}}
        </p>
        <p *ngIf="item.freeSpace">
            Total Space: {{item.freeSpace}}
        </p>
    </div>

    <button (click) = "getBackPath()"> Back </button> 

    <button (click) = "refresh()"> Refresh </button>
</div>

<div *ngFor="let item of response_html">
    <p *ngIf="item.directory">
        <button (click)="getContents(item.filePath)"> {{item.filePath}} </button>
        <button (click)="delete(item.filePath)"> Delete</button>
    </p>
    <p *ngIf="!(item.directory)">
        {{item.filePath}}
        <button (click)="delete(item.filePath)"> Delete</button>
    </p>
</div>